@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/mixins' as *;
@use '../../../assets/styles/typography' as *;

.book {
    &__cards {
        @include no-style-list();
        display: flex;
        flex-wrap: wrap;

        li {
            @include flex-item-half();
        }

        @include for-tablet-landscape-down {
            flex-direction: column;

            li {
                @include flex-item();
            }
        }
    }

    &__image {
        object-fit: cover;
        height: 600px;
        width: 100%;

        @include for-phone-only {
            height: 400px;
        }
    }
}
