.testamonials {
    font-family: $font-family-playfair;
    font-style: italic;
    font-weight: 200;
    font-size: 2rem;

    display: flex;
    flex-direction: column;
    row-gap: $spacing-large;
    padding: $spacing-medium 0;
    max-width: 800px;

    @include for-tablet-landscape-down {
        padding: $spacing-medium $spacing-x-large;
    }

    &__quote {
        &--right {
            text-align: right;
        }
    }
    
    &__from {
        margin-top: $spacing-x-small;
        font-size: 1.3rem;
    }
}
