.current {

    p {
        width: 100%;
    }
 
    fieldset {
        display: flex;
        flex-direction: column;
        row-gap: $spacing-x-small;
    }

    button {
        margin-top: $spacing-medium;
    }
}