.loader-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.loader {
    @include heart;

    &--large {
        width: 60px;
    }
}

.loader-label {
    font-size: $font-size-button;
    margin-top: $spacing-small
}

.loader:after {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    opacity: 0.4;
    animation: l3 1s infinite;
}

@keyframes l3 {
    to {
        transform: scale(1.8);
        opacity: 0
    }
}