.menu {
    position: absolute;
    top: -100vh;
    
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    opacity: 90%;
    background-color: $black;

    display: flex;
    justify-content: center;
    transition: 0.2s ease-in all;

    &--open {
        top: 0;
        display: flex;
    }

    h1 {
        font-size: 9rem;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        position: relative;
        align-items: center;
        padding-top: $spacing-xx-large;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            row-gap: $spacing-small;
            padding: 0;
        }

        li {
            text-align: center;

            a {
                color: $white;
                font-weight: 200;
                font-size: 4.5rem;

                &:hover {
                    color: $wine-light;
                    transition: 0.2s ease;
                }
            }
        }
    }
}