.group-booking {
    &__styles {
        @include wide-content();

        @include for-tablet-landscape-down {
            row-gap: $spacing-large;
        }

        .image-text {
            @include flex-item-half();

            @include for-tablet-landscape-down {
                width: 100%;
            }
        }
    }
}