.hero {
    width: 100%;
    height: 800px;
    position: relative;

    @include for-tablet-landscape-down {
        height: 500px;
    }

    &__logo-container {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: normal;

        @include for-tablet-landscape-down {
            padding: 0 $spacing-x-large;
        }

        a {
            width: 100%;
            max-width: 900px;
        }
    }    

    &__logo {
        max-width: 900px;
    }

    &__tag {
        font-family: $font-family-playfair;
        font-style: italic;
        font-size: 3rem;
        padding-top: $spacing-x-large;

        @include for-phone-only {
            font-size: 2rem;
            text-wrap: nowrap;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}