@use '../../assets/styles/variables'   as *;
@use '../../assets/styles/mixins'   as *;
@use '../../assets/styles/typography'   as *;

.hero {
    width: 100%;
    height: 800px;
    position: relative;

    @include for-tablet-landscape-down {
        height: 500px;
    }

    &__logo-container {
        z-index: 1;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: normal;

        @include for-tablet-landscape-down {
            padding: 0 $spacing-x-large;
        }

       .logo-link  {
            width: 100%;
            max-width: 900px;
        }
    }    

    &__logo {
        max-width: 900px;
    }

    &__tag {
        max-width: 900px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        column-gap: $spacing-x-small;
        font-family: $font-family-playfair;
        padding: $spacing-medium $spacing-x-large;
        padding-bottom: 0;
        text-align: center;
        font-style: italic;
        font-size: 3rem;
        

        a {
            font-weight: 400;
            text-wrap: nowrap;
        }

        @include for-tablet-landscape-down {
            font-size: 2.5rem;
            flex-direction: column;
        }

        @include for-phone-only {
            padding: $spacing-large 0;
            font-size: 2rem;
        }
    }

    &__image {
        width: 100%;
        height: 800px;
        object-fit: cover;

        @include for-tablet-landscape-down {
            height: 500px;
        }
    }

    figure {
        margin: 0;
        position: relative;

        figcaption {
            position: absolute;
            bottom: $spacing-x-small;
            right: $spacing-small;
        }
    }
}