.book {
    &__offers {
        @include wide-content();
        
        .image-text {
            @include flex-item-half;

            @include for-tablet-landscape-down {
                width: 100%;
            }
        }
    }

    .button {
        margin: $spacing-x-large 0 $spacing-large 0;
    }
}