@use '../../assets/styles/variables' as *;

.hamburger {
  height: var(--header-height-mobile);
  width: 5rem;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: $grey-medium;
  transition: background 0.2s ease;
  
  &__bar {
    width: 2.4rem;
    height: 0.2rem;
    background-color: $white;

    transition: transform 0.25s ease, opacity 0.2s ease;
  }

  &--open {
    .hamburger__bar-1 {
      transform: translateY(0.7rem) rotate(-45deg);
    }

    .hamburger__bar-2 {
      opacity: 0;
    }

    .hamburger__bar-3 {
      transform: translateY(-0.7rem) rotate(45deg);
    }
  }

  &:active {
    background: rgba(255, 255, 255, 0.08);
  }
}