@use '../../assets/styles/variables' as *;

.hamburger {
    z-index: 2;
    cursor: pointer;
    position: absolute;
    top: $spacing-medium;
    right: $spacing-medium;

    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5rem;

    position: fixed;

    &__bar {
        width: 4rem;
        height: 0.5rem;
        background-color: $white;
        margin: 0.6rem 0;
        transition: 0.4s;
    }

    &:hover {
        .hamburger__bar {
            background-color: $wine-light;
        }

        color: $wine-light;
    }

    &--open {
        .hamburger__bar-1 {
            transform: translate(0, 11px) rotate(-45deg);
        }

        .hamburger__bar-2 {
            opacity: 0;
        }

        .hamburger__bar-3 {
            transform: translate(0, -11px) rotate(45deg);
        }
    }
}