@use '../../assets/styles/variables' as *;

.hamburger {
  border: none;
  height: var(--header-height-mobile);
  width: 5rem;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: background 0.2s ease;
  background-color: rgba(59, 59, 59, 0.35);
  backdrop-filter: blur(6px);

  &__bar {
    width: 2.4rem;
    height: 0.2rem;
    background-color: $white;

    transition: transform 0.25s ease, opacity 0.2s ease;
  }

  &--open {
    .hamburger__bar-1 {
      transform: translateY(0.7rem) rotate(-45deg);
    }

    .hamburger__bar-2 {
      opacity: 0;
    }

    .hamburger__bar-3 {
      transform: translateY(-0.7rem) rotate(45deg);
    }
  }

  &:active {
    background-color: rgba(59, 59, 59, 0.55);
    transform: scale(0.98);
  }

  &:hover {
    background-color: rgba(59, 59, 59, 0.45);
  }
}