.button {
  border: none;
  color: $white;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 50px;
  background-color: $wine-light;
  border: 2px solid $wine-light;
  padding: $spacing-x-small $spacing-medium $spacing-small $spacing-medium;
  font-family: $font-family-oswald;
  margin: $spacing-medium 0;
  transition: 0.3s ease;
  white-space: nowrap;
  font-weight: 300;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &--large {
    font-size: 3.5rem;
    padding: $spacing-medium $spacing-x-large 2.5rem $spacing-x-large;

    @include for-tablet-landscape-down {
      font-size: 3rem;
      padding: $spacing-medium $spacing-large 2.5rem $spacing-large;
    }

    @include for-phone-only {
      font-size: 2rem;
      padding: $spacing-small $spacing-medium 1.5rem $spacing-medium;
    }
  }

  &:hover {
    color: $white;
    border-color: $white;
    background-color: $grey-dark;
  }

  &:disabled {
    cursor: initial;
    background-color: $wine-damp;
    border-color: $wine-damp;
    display: flex;
    align-items: center;
    justify-content: center;

    .loader {
      margin-top: 0.5rem;
    }
  }
}