.button {
  border: none;
  color: $white;
  cursor: pointer;
  border-radius: 3px;
  font-size: 3rem;
  background-color: $wine;
  border: 2px solid $wine;
  padding: $spacing-small $spacing-large;
  transition: 0.3s ease;
  font-family: $font-family-oswald;
  font-weight: 300;

  &--large {
    font-size: 3.5rem;
    padding: $spacing-medium $spacing-x-large;
  }

  &:hover {
    color: $wine;
    background-color: $white;
  }
}