html {
    font-size: 62.5%;
}

body {
    background-color: $grey-dark;
    font-family: $font-family-roboto;
    font-size: $font-size-base;
    letter-spacing: 0.05em;
    font-weight: 200;
    color: $white;
    margin: 0;

    * {
        box-sizing: border-box;
    }

    h1 {
        font-size: 4rem;
    }

    h1, h2 {
        font-family: $font-family-playfair;
        text-align: center;
        font-weight: 400;        
        text-transform: uppercase;
        margin-top: $spacing-small;
        margin-bottom: $spacing-medium;
    }

    h2,
    h3,
    h4 {
        font-family: $font-family-playfair;
        color: $white;
    }

    h2 {
        font-size: 3rem;
    }

    a {
        font-weight: bold;
        color: $white;
        text-decoration: none;

        &:hover {
            color: $wine-light;
            transition: 0.2s ease;
        }
    }

    &.no-scroll {
        position: fixed;
        overflow-y: scroll;
        width: 100%;
    }
}

.femme-fusion {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        padding: 0;        
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $spacing-x-large;
        max-width: 800px;

        &--home {
            padding: 0;
        }

/*         @include for-phone-only {
            padding: $spacing-large $spacing-medium;
        } */
    }

    .form {
        input, textarea  {
            margin-bottom: $spacing-small;
        }
    }   

    .form__error {
        margin-top: -$spacing-small;
        margin-bottom: $spacing-small;
        font-size: 1.4rem;
        color: $error;
    }
}