html {
    font-size: 62.5%;
}

body {
    background-color: black;
    font-family: $font-family-oswald;
    font-size: $font-size-base;
    color: $white;
    margin: 0;

    h1 {
        font-family: $font-family-playfair;
        text-align: center;
        font-size: 4rem;
    }

    h2,
    h3,
    h4 {
        font-family: $font-family-karla-bold;
        color: $grey-dark;
    }

    h2 {
        font-size: 3rem;
    }

    a {
        font-weight: bold;
        color: $white;
        text-decoration: none;

        &:hover {
            color: $pink-hot;
            transition: 0.2s ease;
        }
    }
}


#app {
    .femme-fusion {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1rem;
        text-align: center;

        @include for-tablet-landscape-down {
            padding: 3rem;
        }
        
        .logo {
            max-width: 700px;

            @include for-phone-only {
                max-width: 100%;
            }
        }

        .tag {
            font-size: 2.5rem;
            font-weight: 300;
            padding-bottom: 10rem;            

            @include for-phone-only {
                font-size: 2rem;                
                padding-bottom: 5rem;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 0.5rem;
            font-size: 1.8rem;

            &__email {
                font-size: 2.2rem;
                padding-bottom: 2rem;
            }

            &__social {
                svg {
                    height: 50px;
                    width: 50px
                }

                g:hover {
                    fill: $pink-hot;
                    transition: 0.2s ease;
                }
            }
        }
    }
}