html {
    font-size: 62.5%;
}

body {
    background-color: $grey-dark;
    font-family: $font-family-karla-regular;
    font-size: $font-size-base;
    color: $white;
    margin: 0;

    h1 {
        font-family: $font-family-pacifico;
        text-align: center;
        font-size: 4rem;
        margin-top: $spacing-small;
        margin-bottom: $spacing-medium;
    }

    h2,
    h3,
    h4 {
        font-family: $font-family-karla-bold;
        color: $grey-dark;
    }

    h2 {
        font-size: 3rem;
    }

    a {
        font-weight: bold;
        color: $black;
        text-decoration: none;
        
        &:hover {
            color: $pink-hot;
            transition: 0.2s ease;
        }
    }
}

.femme-fusion {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}