@import 'mixins';
@import 'typography';
@import 'variables';
@import 'global';

// Components
@import 'button';
@import '../components/footer/footer';
@import '../components/hamburger/hamburger';
@import '../components/hero/hero';
@import '../components/EventInfo/event-info';
@import '../components/image/image';
@import '../components/imagetext/imagetext';
@import '../components/loader/loader';
@import '../components/menu/menu';
@import '../components/modal/modal';
@import '../components/testamonials/testamonials';

// Pages
@import '../pages/about/about';
@import '../pages/contact/contact';
@import '../pages/events/events';
@import '../pages/groupbooking/groupbooking';
@import '../pages/home/home';
@import '../pages/showbooking/showbooking';
