@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.content-post {
    margin-bottom: var(--spacing-xl);

    &__published {
        opacity: 0.8;
    }

    &__preamble {
        font-weight: bold;
    }

    &__image {
        height: 500px;

        @include for-phone-only {
            height: 300px;
        }
    }
}