.contact {
    div {
        display: flex;        
        column-gap: $spacing-small;

        @include for-tablet-landscape-down {
            flex-direction: column
        }
    }

    p {
        @include flex-item-half;        

        @include for-tablet-landscape-down {
            @include flex-item;   
        }
    }

    &__form {
        display: flex;
        row-gap: $spacing-x-small;
        flex-direction: column;
        @include flex-item-half;

        button {
            margin-top: $spacing-small;
        }

        @include for-tablet-landscape-down {
            @include flex-item;   
        }
    }
}