.contact {
    div {
        display: flex;        
    }

    p {
        @include flex-item-half;
    }

    &__form {
        display: flex;
        row-gap: $spacing-x-small;
        flex-direction: column;
        @include flex-item-half;

        button {
            margin-top: $spacing-small;
        }
    }
}