.home {
    p {
        text-align: center;
    }

    h2 {
        display: flex;
        align-items: center;

        img {
            height: 3rem;
            padding: 0 $spacing-small;
        }
    }

    &__section {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: $spacing-large;
        width: 100vw;
        height: 100%;

        &--red {
            background-color: $wine;
        }

        &--narrow {

            p,
            div {
                max-width: 600px;
            }
        }

        &--video {
            padding: 0;
            padding-bottom: $spacing-large;

            @include for-big-desktop-down {
                padding-bottom: 0;
            }
        }
    }

    &__twitch {
        a {
            text-align: center;

            span {
                display: block;
                font-size: 1.2rem;
                margin-top: $spacing-small;
            }
        }

        svg {
            margin-top: $spacing-large;

            &:hover {
                path {
                    fill: $wine-light !important;
                }
            }
        }
    }

    video {
        width: 100%;
        max-width: 1920px;
    }
}