.home {
    p {
        text-align: center;
        padding: $spacing-medium 0 $spacing-large 0;

        @include for-tablet-landscape-down {
            padding: $spacing-medium $spacing-x-large $spacing-large $spacing-x-large;
        }
    }

    &__testamonials,
    &__twitch {
        padding: $spacing-large 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 100%;
        background-color: $wine;
    }


    &__twitch {
        a {
            text-align: center;

            span {
                display: block;
                font-size: 1.2rem;
                margin-top: $spacing-small;
            }            
        }

        svg {
            margin-top: $spacing-large;

            &:hover {
                path {
                    fill: $wine-light !important;
                }
            }
        }
    }

    .splide {
        img {
            height: 400px;
            width: 400px;
        }
    }
}