@use '../../assets/styles/variables'   as *;

.image-text {
    position: relative;

    img {
        object-fit: cover;
        width: 100%;
        transition: 0.3s ease;

        &:hover {
            /* -webkit-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.67);
            -moz-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.67); */
            box-shadow: 0px 0px 30px 0px rgba(88, 88, 88, 0.8);
            // todo: Better color
        }
    }

    span {
        position: absolute;
        right: $spacing-x-small;
        bottom: 0;
        font-size: 7rem;
        font-weight: 300;
        transition: 0.2s ease;
    }
    
    &--right {
        span {
            left: $spacing-x-small;
        }
    }

    &:hover {
        span {
            text-shadow: $white 1px 0 10px;
        }
    }
}