.modal-wrapper {
    background-color: rgba(33, 37, 41, 0.6);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    overscroll-behavior: contain;
    pointer-events: auto;
    touch-action: auto;

    .modal {
        background-color: $grey-dark;
        padding: $spacing-large;
        position: relative;
        overflow-y: auto;
        display: block;
        max-height: 90%;
        max-width: 700px;
        
        @include for-tablet-landscape-down {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
        }

        button {
            cursor: pointer;
            background: none;        
            @include cross(30px, $white, 3px);
            position: absolute;
            top: $spacing-small;
            right: $spacing-small;
        }
    }
}