@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;
@use '../../assets/styles/typography' as *;

.about {
    &__members {
        @include flex-container;
        gap: 2rem;
        row-gap: 2rem;
        justify-content: flex-start;
        width: 65vw;
        max-width: 1200px;
        margin: $spacing-large 50% 0;
        transform: translateX(-50%);

        @include for-big-desktop-down {
            width: 75vw;
        }

        @include for-desktop-down {
            width: 85vw;
        }

        @include for-tablet-landscape-down {
            width: 90vw;
        }

        @include for-phone-only {
            width: calc(100vw - var(--spacing-xxxl));
        }
    }

    &__member {
        position: relative;
        margin: 0;

        figcaption {
            transform: translateY(2px);
            transition: transform .35s, text-shadow .35s;
        }

        &:hover {
            figcaption {
                transform: translateY(-2px);
                text-shadow: 0 2px 10px rgba(#000, .35);
            }
        }

        figcaption {
            position: absolute;
            right: $spacing-medium;
            bottom: $spacing-medium;
            font-size: 3.2rem;
            text-align: right;
            font-weight: 700;
            transition: 0.2s ease;
            font-family: $font-family-oswald;
            display: flex;
            flex-direction: column;
            line-height: 1.2;
        }


        &--founder {
            width: calc((100% - 6rem) / 4);

            @include for-desktop-down {
                width: calc((100% - 2rem) / 2);

                .image {
                    max-height: 450px;
                }
            }

            @include for-phone-only {
                width: 100%;
            }

            .image {
                aspect-ratio: 4 / 5;
            }

            figcaption {
                left: $spacing-medium;
                text-align: left;
                right: auto;
                font-size: 2.8rem;
            }
        }

        &--compact {
            width: calc((100% - 4rem) / 3);

            @include for-tablet-landscape-down {
                width: calc((100% - 2rem) / 2);                
            }

            @include for-phone-only {
                width: 100%;
            }

            .image {
                aspect-ratio: 1;
            }

            figcaption {
                left: $spacing-medium;
                right: $spacing-medium;
                text-align: left;
                font-size: 2.4rem;
            }
        }
    }

    &__role {
        font-weight: 400;
        font-size: 2.4rem;
    }
}
