@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.about {
    max-width: 1000px;
    padding-bottom: $spacing-x-large;

    p {
        padding-left: $spacing-small;
        padding-right: $spacing-small;
    }

    &__members {
        @include flex-container;
        row-gap: $spacing-small;
        justify-content: space-between;
    }

    &__member {
        @include flex-item-half;
        position: relative;
        margin: 0;

        @include for-tablet-landscape-down {
            width: 100%;
        }        

        img {
            transition: 0.3s ease;
            object-fit: cover;
            width: 100%;

            &:hover {
                box-shadow: 0px 0px 30px 0px rgba(88, 88, 88, 0.8);
            }
        }

        figcaption {
            position: absolute;
            right: $spacing-x-small;
            bottom: 0;
            font-size: 7rem;
            font-weight: 300;
            transition: 0.2s ease;
        }


        &--left {
            span {
                left: $spacing-x-small;
            }
        }
    }
}