@use '../../assets/styles/variables'   as *;

.calendar {
    .loader {
        margin-top: $spacing-medium;
    }

    section {
        width: 100%;
    }

    &__details {
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: block;
    }
}