@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;
@use '../../assets/styles/typography' as *;

.home {
    h2 {
        text-align: center;
    }

    &__video {
        width: 100%;
        max-width: 1920px;
    }
}