@use '../variables' as *;

.table-list {
  width: 100%;
  padding: 0;
  margin: 0;

  &:first-of-type {
    margin-bottom: $spacing-large;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: $spacing-small;
    cursor: pointer;
    gap: $spacing-medium;

    &:hover {
      color: $grey-light;
    }
  }

  &__date {
    flex: 0 0 8rem;
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacing-small;
    flex: 1 1 auto;
    min-width: 0;
  }

  &__status {
    color: #d36a6a;
    font-size: 1.6rem;
    margin-left: auto;
    white-space: nowrap;
  }

  &__text {
    display: flex;
    align-items: center;
    padding: $spacing-small;
    gap: $spacing-medium;
  }

  li {
    list-style: none;
    transition: 0.2s ease-in all;

/*     a {
      cursor: pointer;
    } */

    &.table-list__item--interactive:hover {
      background-color: $wine !important;
    }

    .table-list__date {
      margin-right: $spacing-medium;
      vertical-align: top;
    }


    &:nth-child(even) {
      background-color: #121212;
    }

    &:nth-child(odd) {
      background-color: #171717;
    }
  }
}
