@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: $grey-dark;
    transition: height 0.2s ease, background 0.2s ease;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--spacing-lg);
    height: var(--header-height);

    &--sticky {
        background: rgba(0, 0, 0, 0.85);
        backdrop-filter: blur(6px);
        height: var(--header-height-sticky);
    }

    &__menu {
        @include no-style-list();

        .menu-item {
            font-size: 1.4rem;
            font-weight: 500;
            letter-spacing: 0.08em;
            text-transform: uppercase;

            &:hover,
            &.router-link-active,
            &.router-link-exact-active {
                color: $white;
                text-decoration: underline;
                text-underline-offset: 0.4rem;
                text-decoration-thickness: 1px;
            }
        }

        &--desktop {
            display: flex;
            column-gap: var(--spacing-lg);
        }
    }


    &__logo {
        height: 3.5rem;
    }

    .hamburger {
        display: none;
    }

    @include for-tablet-landscape-down() {
        height: var(--header-height-mobile);
        padding: 0 0 0 var(--spacing-sm);

        &__logo {
            height: 3rem;
        }

        .hamburger {
            display: flex;
        }

        &__menu {
            &--desktop {
                display: none;
            }
        }


        &__book {
            &--desktop {
                display: none;
            }
        }
    }
}