@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: $grey-dark;
    transition: height 0.2s ease, background 0.2s ease;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--spacing-lg);
    height: var(--header-height);

    &--sticky {
        background: rgba(0, 0, 0, 0.85);
        backdrop-filter: blur(6px);
        height: var(--header-height-sticky);
    }

    &__logo {
        height: 3.5rem;
    }

    .hamburger {
        display: none;
    }

    @include for-tablet-landscape-down() {
        height: var(--header-height-mobile);
        padding: 0 0 0 var(--spacing-sm);

        &--menu-open {
            background: rgba(0, 0, 0, 0.96);
        }

        &__logo {
            height: 3rem;
        }

        .hamburger {
            display: flex;
        }

        &__book {
            &--desktop {
                display: none;
            }
        }
    }
}