@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.footer {
    width: 100%;
    background-color: $wine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    padding: $spacing-large $spacing-xx-large;
    
    ul {
        @include no-style-list();
    }    

    @include for-tablet-landscape-down {
        padding: $spacing-large;
    }


    h2 {
        text-transform: none;
    }

    &__content {
        width: 100%;
        max-width: 2000px;
        display: flex;
        flex-wrap: wrap;

        @include for-tablet-landscape-down {
            flex-direction: column;
        }
    }

    &__column {
        @include flex-item-one-fourth();

        &--right {
            text-align: center;
        }

        @include for-desktop-down {
            @include flex-item-half();
            text-align: center;
        }

        @include for-tablet-landscape-down {
            @include flex-item();
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: $spacing-small;

        a {
            display: block;
            height: 100%;            
        }
    }

    &__icon {
        svg {
            height: 5rem;
            width: 5rem;

            path {
                transition: 0.2s ease;
            }

            &:hover {
                path {
                    fill: $wine-contrast;
                }
            }
        }

        &--linkedin {
            svg {
                height: 4.2rem;
            }
        }
    }
}