@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.footer {
    width: 100%;
    background-color: $wine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-large;
    padding: $spacing-large $spacing-xx-large;
    
    ul {
        @include no-style-list();
    }

    ul, p {
        margin: 0;
    }

    @include for-tablet-landscape-down {
        padding: $spacing-large;
    }


    h2 {
        text-transform: none;
        white-space: nowrap;
        margin: 0 0 $spacing-small 0;
    }

    &__content {
        width: 100%;
        max-width: 2000px;
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-medium;

        @include for-tablet-landscape-down {
            flex-direction: column;
        }
    }

    &__column {
        @include flex-item-one-fourth();

        &--right {
            text-align: center;
        }

        @include for-desktop-down {
            @include flex-item-half();
            text-align: center;
        }

        @include for-tablet-landscape-down {
            @include flex-item();
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: $spacing-small;

        a {
            display: block;
            height: 100%;            
        }
    }

    &__icon {
        svg {
            height: 5rem;
            width: 5rem;

            path {
                transition: 0.2s ease;
            }

            &:hover {
                path {
                    fill: $wine-contrast;
                }
            }
        }

        &--linkedin {
            svg {
                height: 4.2rem;
            }
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        gap: $spacing-small;

        img {
            max-height: 56px;
        }
    }
}