@use '../../assets/styles/variables'   as *;

.footer {
    width: 100%;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    padding: $spacing-xx-large 0;

    &__icon {
        svg {
            height: 4rem;
            width: 4rem;

            path {
                transition: 0.2s ease;
            }

            &:hover {
                path {
                    fill: $wine-light !important;
                }
            }
        }

        &--mail{
            margin-left: $spacing-small;
        }

        &--linkedin {
            svg {
                height: 3.2rem;
            }
        }
    }
}