.footer {
    width: 100%;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    padding: $spacing-xx-large 0;

    &__icon {
        svg {
            height: 4rem;
            width: 4rem;
        }        
    }
}