.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 $spacing-x-large;
    max-width: 800px;

    &__image {
        height: 400px;
        width: auto;
        object-fit: cover;
    }

    &__preamble {
        font-weight: bold;
        font-size: 2rem;
    }
}