@use 'variables' as *;
@use 'mixins' as *;
@use 'typography' as *;
@use 'sass:color';

.button {
  border: none;
  color: $white;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 50px;
  background-color: $wine-light;
  border: 2px solid $wine-light;
  padding: $spacing-small $spacing-medium;
  font-family: $font-family-oswald;
  transition: 0.3s ease;
  white-space: nowrap;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;

  &--large {
    font-size: 2.5rem;
    padding: $spacing-small $spacing-large;

    @include for-tablet-landscape-down {
      font-size: 3rem;
      // padding: $spacing-medium $spacing-large 2.5rem $spacing-large;
    }

    @include for-phone-only {
      font-size: 2rem;
      // padding: $spacing-small $spacing-medium 1.5rem $spacing-medium;
    }
  }

  &:hover {
    color: $white;
    border-color: $white;
    background-color: $grey-dark;
  }

  &:disabled {
    cursor: initial;
    background-color: $wine-damp;
    border-color: $wine-damp;
    display: flex;
    align-items: center;
    justify-content: center;

    .loader {
      margin-top: 0.5rem;
    }
  }

  &--toggle {
    width: 100%;
    border-radius: 4px;
    font-family: $font-family-playfair;
    background-color: $grey-medium;
    border-color: $grey-medium;

    &:hover {
      background-color: color.adjust($grey-dark, $lightness: 3%);
      border-color: color.adjust($grey-medium, $lightness: 3%);
      color: $white;
    }
  }

  &--toggle-active {
    background-color: $wine-damp;
    border-color: $wine-light;

    &:hover {
      background-color: $wine-damp;
      border-color: $wine-light;
    }
  }
}