@use 'variables' as *;
@use 'mixins' as *;

.form {
  display: flex;
  row-gap: $spacing-x-small;
  flex-direction: column;
  @include flex-item;

  fieldset {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-x-small;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    height: 3rem;
  }

  button {
    margin-top: $spacing-x-small;
  }
}