@use 'variables' as *;
@use 'typography' as *;
@use 'mixins' as *;

html {
    font-size: 62.5%;
    scrollbar-gutter: stable;
}

body {
    background-color: $grey-dark;
    font-family: $font-family-roboto;
    font-size: $font-size-base;
    letter-spacing: 0.05em;
    font-weight: 200;
    color: $white;
    margin: 0;

    * {
        box-sizing: border-box;
    }

    h1, h2, h3, h4 {
        text-align: center;
    }

    h1 {
        font-size: 4rem;

        @include for-phone-only {
            font-size: 3rem;
        }
    }

    h1,
    h2 {
        font-family: $font-family-playfair;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: $spacing-small;
        margin-bottom: $spacing-medium;
    }

    h2,
    h3,
    h4 {
        font-family: $font-family-playfair;
        color: $white;
    }

    h2 {
        font-size: 3rem;

        @include for-phone-only {
            font-size: 2.4rem;
        }
    }

    a,
    .link {
        font-weight: bold;
        color: $white;
        text-decoration: none;

        &:hover {
            color: $wine-light;
            transition: 0.2s ease;
        }

        &--accent {
            text-decoration: underline;
            text-underline-offset: 0.25em;
        }
    }

    strong {
        font-weight: bold;
    }

    &.no-scroll {
        position: fixed;
        overflow-y: scroll;
        width: 100%;
    }
}

.femme-fusion {
    &__main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: $spacing-x-large 0;
    }

    .form {
        input,
        textarea {
            margin-bottom: $spacing-small;
        }
    }

    .form__error {
        margin-top: -$spacing-small;
        margin-bottom: $spacing-small;
        font-size: 1.4rem;
        color: $error;
    }
}