$white: #f4faff;
$black: #000000;
$grey-light: #f2f2f2;
$grey-medium: #202020;
$grey-dark: #111111;
$error: #f7959e;
$wine-light: #800020;
$wine: #650015;
$wine-contrast: #a0002a;
$wine-damp: #460d16;
$wine-dark: #2b0007;
$wine-darker: #1a0a0d;


$spacing-x-small: 0.5rem;
$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-large: 4rem;
$spacing-x-large: 6rem;
$spacing-xx-large: 8rem;

$content-max-width-desktop: 700px;