$white: #f4faff;
$black: #000000;
$grey-light: #f2f2f2;
$grey-medium: #202020;
$grey-dark: #111111;
$error: #f7959e;
$wine-light: #800020;
$wine: #650015;
$wine-contrast: #a0002a;
$wine-damp: #460d16;
$wine-dark: #2b0007;
$wine-darker: #241014;
$apricot: #fbf0e3;

$spacing-x-small: 0.5rem;
$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-large: 4rem;
$spacing-x-large: 6rem;
$spacing-xx-large: 8rem;

$content-max-width-desktop: 700px;
$content-max-width-desktop-wide: 1200px;

:root {
  --spacing-xxs: 0.4rem;   /* 4px */
  --spacing-xs: 0.8rem;   /* 8px */
  --spacing-sm: 1.2rem;   /* 12px */
  --spacing-md: 1.6rem;   /* 16px */
  --spacing-lg: 2.4rem;   /* 24px */
  --spacing-xl: 3.2rem;   /* 32px */
  --spacing-xxl: 4.8rem;  /* 48px */
  --spacing-xxxl: 6.4rem; /* 64px */

  --header-height: 6.4rem;
  --header-height-sticky: 5.6rem;
  --header-height-mobile: 5.6rem;
}