@use 'global';
@use 'button';
@use 'forms';
@use 'section';
@use 'carousel';
@use 'shared/list';

// Components
@use '../../components/accordion/accordion';
@use '../../components/footer/footer';
@use '../../components/hamburger/hamburger';
@use '../../components/hero/hero';
@use '../../components/EventInfo/event-info';
@use '../../components/image/image';
@use '../../components/loader/loader';
@use '../../components/menu/menu';
@use '../../components/modal/modal';
@use '../../components/sectionnav/section-nav';
@use '../../components/testimonials/testimonials';
@use '../../components/workshops/workshop-page';

// Pages
@use '../../pages/styles/about';
@use '../../pages/styles/contact';
@use '../../pages/styles/signup';
@use '../../pages/styles/events';
@use '../../pages/styles/home';
@use '../../pages/bokning/styles/booking';