@use '../../assets/styles/variables'   as *;
@use '../../assets/styles/mixins'   as *;


.image {
    object-fit: cover;
    margin: $spacing-large 0;
    height: 500px;
    width: 100%;

    &--full-width {
        height: 900px;
        width: 100vw;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        margin-top: 0;
        margin-bottom: 0;

        @include for-tablet-landscape-down {
            height: 500px;
        }
    }

    &--slim {
        height: 500px;

        @include for-tablet-landscape-down {
            height: 300px;
        }
    }
}