@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;
@use '../../assets/styles/typography' as *;

.image {
    object-fit: cover;
    margin: $spacing-large 0;
    height: 500px;
    width: 100%;

    &--full-width {
        height: 900px;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;

        @include for-tablet-landscape-down {
            height: 500px;
        }
    }

    &--slim {
        height: 500px;

        @include for-tablet-landscape-down {
            height: 300px;
        }
    }
}

figure {
    figcaption {
        text-align: right;
        font-size: $font-size-button;
        margin-top: $spacing-small;

        // temporary
        @include for-phone-only {
            text-align: center;
        }
    }
}