.events {
    .loader {
        margin-top: $spacing-medium;
    }

    &__details {
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: block;
    }

    ul {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
        padding: 1rem;
        transition: 0.2s ease-in all;

        &:hover {
            background-color: $wine !important;
        }

        a:hover {
            color: $grey-light;
        }

        span {
            margin-right: $spacing-medium;
            display: inline-block;
            width: 8rem;
        }


        &:nth-child(even) {
            background-color: #121212;
        }

        &:nth-child(odd) {
            background-color: #171717;
        }
    }
}