@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;
@use '../../assets/styles/typography' as *;

.workshop {
    &__image {
        height: 650px;

        @include for-phone-only {
            height: 450px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: $spacing-small;
    }

    &__status {
        display: inline-flex;
        align-items: center;
        min-height: 5.6rem;
        font-family: $font-family-oswald;
        font-size: 2.3rem;
        color: $white;
    }

    &__sold-out-message {
        margin-top: -0.5rem;
    }
}
