@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;
@use '../../assets/styles/typography' as *;

.workshop {
    &__image {
        height: 650px;

        @include for-phone-only {
            height: 450px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: $spacing-small;
    }

    &__notice {
        border-left: 2px solid $apricot;
        padding-left: $spacing-small;
        margin-top: $spacing-small;

        p {
            margin-top: 0;
        }
    }

    &__notice-buttons {
        margin-top: $spacing-small;
    }
}
